<h6>name: </h6> <%= @flat.name %>
<br>
<h6>address: </h6> <%= @flat.address %>
<br>
<h6>description: </h6> <%= @flat.description %>
<br>
<h6>price_per_night: </h6> <%= @flat.price_per_night %>
<br>
<h6>number_of_guests: </h6> <%= @flat.number_of_guests %>